<!--Heredo la plantilla template base de Django-->
{% extends "Manager/list_table.html" %}
{% load staticfiles %}
{% load i18n l10n admin_urls %}

<!--Reemplazo el bloque 'content' de la plantilla 'base_site'-->
{% block new_content %}


<!--Bloque para exportar a archivo-->
{% block object-tools %}
    <ul class="object-tools">
    <li>
        <a href="javascript:void(0);" onclick="document.getElementById('export-form').submit();"> Export </a>
    </li>
    <li>
        <form id="export-form" action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="params" value="{{ params }}">
        <input type="hidden" name="action" value="{{ action }}">
        <input type="hidden" name="model_names" value="{{ model_names }}">
        <input type="hidden" name="do_action" value="yes">
{#            <input type="submit" value="Export">#}
        </form>
    </li>
</ul>
{% endblock %}



<!--Creo tabla-->
<style>
    td, th, tr {
    vertical-align:middle;
    }
</style>


<table style="width: 100%; padding=0px;">

    <!--TITULOS-->
    <thead>
    <tr>
        <th style="border-collapse:collapse; border:0px; width:25%;">LINEA CAPEX</th>
        <th style="border:0px; width:25%;">MONTO TOTAL</th>
        <th>
            <table>
                <tr>
                    <th style="border:0px; width:25%;">PEPS</th>
                    <th style="border:0px; width:25%;">MONTO PEP</th>
                </tr>
            </table>
        </th>
    </tr>
    </thead>

    <!--CONTENIDO-->
    {% for i, j in LineaCapex.items %}
    <tr>
        <td style="vertical-align:middle;"> {{i}}</td>
        <td style="vertical-align:middle;"> {{j.total}}</td>
        <td>
            <table>
                {% for n, m in j.peps.items %}
                <tr style="vertical-align:middle;">
                    <td style="border:0px;width:25%"> {{n}}</td>
                    <td style="border:0px;width:25%"> {{m}}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}