<!--Heredo la plantilla template base de Django-->
{% extends "admin/base_site.html" %}

<!--Static files-->
{% load staticfiles %}
{% load i18n l10n admin_urls %}


<!--Añadiendo a la cabecera la URL y usuario-->
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
&rsaquo; {{ title }}
</div>
{% endblock %}


<!--Reemplazo el bloque 'content' de la plantilla 'base_site'-->
{% block content %}
    <style>
    table { width: 100%; }
    .button:hover { background-color: rgb(60, 120, 145); }
    </style>

    {% block new_content %}
    {% endblock %}

{% endblock %}

